body {
    height: 850px;
}

.change-pw-wrapper {
    display: flex;

}

.current-pw, .next-pw, .next-pw-check {
    margin: 30px 0 30px 0;
}

.current-pw {
    margin-top: 120px;
}

input {
    width: 280px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid black;
}

.btn {
    margin-top: 30px;
    background-color: #87ceeb;
    color: white;
}