body {
    height: 1400px;
}

.sign-up-form {
    width: 500px;
    margin: 0 auto;
}

.message {
    margin-top: 50px;
    text-align: center;
}

.id-wrapper {
    display: flex;
    width: 500px;
    margin-left: 125px;
}

.id {
    padding-top: 60px;
}

.id-confirm-button {
    width: 90px;
    margin-top: 8px;
    margin-left: 15px;
}

.pw-wrapper {
    display: flex;
    width: 500px;
    margin-left: 125px;
}

.member {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
}

input {
    flex: 1;
    height: 32px;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="email"] {
    width: 250px;
    border: 1px solid black;
    margin-top: 8px;
}

select {
    width: 70px;
    height: 25px;
    margin-top: 5px;
}

.pw-explanation {
    font-size: 11px;
    margin-left: 10px;
    margin-top: 15px;
}

input[type="radio"] {
    vertical-align: middle;
    margin-bottom: 5px;
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    transition: border 0s ease-in-out;
}

input[type="radio"]:checked {
  border: 0.4em solid #808080;
}

input[type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    cursor: pointer;
}

input[type="radio"]:hover + label {
    cursor: pointer;
}

input[type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted tomato;
}

.phone-number input[type="number"] {
    margin-top: 15px;
    width: 170px;
}

input[type="tel"] {
    width: 170px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:placeholder {
    font-size:
}

.phone-number button {
    width: 130px;
    margin-left: 15px;
}

button {
    height: 32px;
}

.submit input[type="submit"] {
    margin-top: 30px;
    width: 300px;
    height: 40px;
}
