<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/myPage_component.css" />
    <link rel="stylesheet" type="text/css" href="/css/myPage_changePassword.css" />
    <link rel="stylesheet" type="text/css" href="/css/side_menu.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="js/modernizr.custom.js"></script>

</head>
<body>
<header>
    <div class="logo-and-menu">
        <div class="logo">
            <img class="home-img" src="/images/img_logo.png" onclick="location.href='/main'">
        </div>
        <div class="header-menu">
            <nav>
                    <span>
							I<a th:href="@{/myPage_checkPassword}">마이페이지</a>I
                            <a th:href="@{/logout}">로그아웃</a>I
                    </span>
            </nav>
        </div>
    </div>
</header>

<div class="change-pw-wrapper wrapper">
    <!-- 왼쪽 메뉴바 -->
    <div class="side-menu">
        <ul>
            <li><a th:href="@{/questionRegister}"><span class="material-icons">border_color</span>질문 등록</a></li>
            <li><a th:href="@{/answererRegister}"><span class="material-icons">person_add</span>답변자 등록</a></li>
            <li><a th:href="@{/payAndCalculate}"><span class="material-icons">toll</span>포인트 충전 / 정산</a></li>
        </ul>
    </div>

    <div class="my-page-menu">
        <ul>
            <li><a th:href="@{/myPage_info}">내 정보</a></li>
            <li><a th:href="@{/myPage_changePassword}">정보수정</a></li>
            <li><a th:href="@{/myPage_questionList}">내 질문 기록</a></li>
            <li><a th:href="@{/myPage_accountRegister}">계좌 등록</a></li>
            <li><a th:href="@{/myPage_answerList}">내 답변 기록</a></li>
        </ul>
    </div>

    <div class="change-pw main-contents">
        <div class="page-name">
            <div class="page-name-box">
                <h2>정보수정</h2>
            </div>
        </div>

        <div class="main">
            <form action="/myPage_changePassword" method="post">
                <input type="hidden" th:value="${member.id}" name="id"><br>
                아이디: <input type="text" th:value="${member.memberEmail}" name="memberEmail" readonly> <br>
                비밀번호: <input type="text" th:value="${member.memberPassword}" name="memberPassword"> <br>
                이름: <input type="text" th:value="${member.memberName}" name="memberName"> <br>
                생년월일: <input type="date" th:value="${member.birthDate}" name="birthDate"> <br>
                닉네임: <input type="text" th:value="${member.nickName}" name="nickName"> <br>

                성별:
                <label><input type="radio" class="male" name="gender" th:checked="${member.gender == '남자'}" value="남자">남자</label>
                <label><input type="radio" class="female" name="gender" th:checked="${member.gender == '여자'}" value="여자">여자</label> <br>

                휴대전화: <input type="tel" th:value="${member.phoneNumber}" name="phoneNumber" placeholder="전화번호를 입력하세요(- 제외)."> <br>

                <input type="hidden" th:value="${member.bankName}" name="bankName">
                <input type="hidden" th:value="${member.accountNumber}" name="accountNumber">
                <input type="hidden" th:value="${member.accountHolder}" name="accountHolder">
                <input type="hidden" th:value="${member.points}" name="points">

                <input type="submit" value="정보수정">
            </form>
        </div>
    </div>
</div>
</body>
</html>
